html,
body,
#app {
  height: 100%;
}

.theme-default-content {
  img[alt='文燚的博客'] {
    width: 50%;
    transform: translateX(50%);
  }

  .motto {
    text-align: center;
    font-size: 1.5rem;
  }
}
